{% extends "base/baseform.html" %}	

	{% block tituloform %}
		Designar Cargo a el Usuario: {{ user.first_name}}
	{% endblock tituloform %}
	
	{% block formulario %}

		
		{% csrf_token %}
		{% comment %}
		{% for field in form %}
		    <div class="fieldWrapper">
		        {{ field.errors }}
		        {{ field.label_tag }} 
		        {{ field }}
		    </div>
		{% endfor %}
		{% endcomment %}
		{% if error %}
			<div class="alert alert-danger" role="alert"><strong>Alerta!!!!</strong> {{ error }}</div>
		{% endif %}
		{% load bootstrap3 %}
		{% bootstrap_form form %}
		

		{% buttons %}
	        <button type="submit" class="btn btn-primary center-block">
	            {% bootstrap_icon "glyphicon glyphicon-ok" %} Enviar
	        </button>
	    {% endbuttons %}
		<!--
		<div class="row">
			<div class="col-lg-6">	
				<button type="reset" class="btn btn-default center-block">Reset</button>
			</div>
			<div class="col-lg-6">
				<button type="submit" value="login" class="btn btn-primary center-block">Submit</button>
			</div>
		</div>
		-->
		
	
	{% endblock formulario %}