{% extends "base/index.html" %}
{% block body %}
	
	

	<div class="col-sm-4"></div>

	<div class="col-sm-4">
		<div class="well bs-component">
			{% block legend %}
				
			{% endblock legend %}
			{% block errores %}
				
			{% endblock errores %}
			
			<form action="{% block urlEnvio %} {% endblock urlEnvio %}" method="post" enctype="multipart/form-data" class="form-horizontal">
				{% block formulario %}
					
				{% endblock formulario %}
				
			</form>
			
		</div>
	</div>

	<div class="col-sm-4"></div>

	{% block añadidos %}
		
	{% endblock añadidos %}

{% endblock body %}