{% extends "base/baseform.html" %}	

	<h2 style="text-align: center;">
		{% block tituloform %}
			Crear almacen
		{% endblock tituloform %}
	</h2>
	
	{% block formulario %}

	
		{% csrf_token %}
		{% comment %}
		{% for field in form %}
		    <div class="fieldWrapper">
		        {{ field.errors }}
		        {{ field.label_tag }} 
		        {{ field }}
		    </div>
		{% endfor %}
		{% endcomment %}
		{% load bootstrap3 %}
		{% bootstrap_form form %}

		{% buttons %}
	        <button type="submit" class="btn btn-primary center-block">
	            {% bootstrap_icon "glyphicon glyphicon-ok" %} Enviar
	        </button>
	    {% endbuttons %}
		<!--
		<div class="row">
			<div class="col-lg-6">	
				<button type="reset" class="btn btn-default center-block">Reset</button>
			</div>
			<div class="col-lg-6">
				<button type="submit" value="login" class="btn btn-primary center-block">Submit</button>
			</div>
		</div>
		-->
		
	
	{% endblock formulario %}