{% extends "base/index.html" %}	

	{% block body %}
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class="well bs-component">
				
				<div class="row">
					<div class="col-lg-12">
						
						<form role="form" class="form-inline" action="" method="get" accept-charset="utf-8">
								{% load bootstrap3 %}
				
								
								
								{% bootstrap_form form layout='inline' %}

								{% buttons submit='Search' layout='inline' %}{% endbuttons %}

						    	<a class="btn btn-warning" type="submit"  href="{% url 'seguimiento:crearitem' pk1 %}">Crear Nuevo Item </a>
						</form>
						
					</div>
				</div>
				
				<table class="table table-striped table-hover ">
				  	<thead>
				    <tr>
				      	<th>#id</th>
				      	<th>Descripcion</th>
				      	<th>unidad</th>
				      	<th>Cantidad</th>
				      	<th>Fecha de Inicio</th>
				      	<th>Plazo de Finalizacion</th>
				      	<th>Opciones</th>
				    </tr>
				  	</thead>
				 	 <tbody>
				  
				  	{% if object_list %}
				  		{% for item in object_list %}


				  			{% if forloop.counter|divisibleby:2 %}
				  				<tr class="info">
							      	<td>{{ item.id }}</td>
							      	<td>{{ item.descripcion }}</td>
							      	<td>{{ item.unidad }}</td>
							      	<td>{{ item.cantidad }}</td>
							      	<td>{{ item.fecha_inicio|date:"Y-m-d" }}</td>
							      	<td>{{ item.plazo_finalizacion|date:"Y-m-d" }}</td>
							     
							{% else %}
								<tr class="success">
							      	<td>{{ item.id }}</td>
							      	<td>{{ item.descripcion }}</td>
							      	<td>{{ item.unidad }}</td>
							      	<td>{{ item.cantidad }}</td>
							      	<td>{{ item.fecha_inicio|date:"Y-m-d" }}</td>
							      	<td>{{ item.plazo_finalizacion|date:"Y-m-d" }}</td>
							     
				  			{% endif %}
				  					<td>
				  						<div class="btn-group">
				  							<div class="btn-group">
										
												<a type="button" class="btn btn-primary" href="{% url 'seguimiento:updateitem' item.id %}">
													Editar<span class="glyphicon glyphicon-edit" aria-hidden="true">
												</a>
											
											</div>
					  						<div class="btn-group" role="group">
											  	<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Requerimientos a almacen  <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
												    <li>
												    	<a href="{% url 'seguimiento:peticionmaterial' item.id %}">
												    		Requeriminetos de materiales<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true">
												    	</a>
												    </li>
												    <li>
												    	<a href="{% url 'seguimiento:listapeticionmaterial' item.id %}">
												    		Lista Requerimiento de materiales<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true">
												    	</a>
												    </li>
												    <li class="divider"></li>
												    <li>
												    	<a href="{% url 'seguimiento:peticioninsumos' item.id %}">
												    		Requeriminetos de insumos<span class="glyphicon glglyphicon glyphicon-plus" aria-hidden="true">
												    	</a> 
												    </li>
												    <li>
												    	<a href="{% url 'seguimiento:listapeticioninsumos' item.id %}">
												    		Lista de requeriminetos de insumos<span class="glyphicon glglyphicon glyphicon-plus" aria-hidden="true">
												    	</a> 
												    </li>
												    <li class="divider"></li>
												    <li>
												    	<a href="{% url 'seguimiento:requerimientoherramientas' item.id %}">
												    		Requeriminetos de herramientas<span class="glyphicon glglyphicon glyphicon-plus" aria-hidden="true">
												    	</a>
												    </li>
												    <li>
												    	<a href="{% url 'seguimiento:listarequerimientoherr' item.id %}">
												    		Lista requeriminetos de herramientas<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true">
												    	</a>
												    </li>
												    <li class="divider"></li>
												    <li><a href="#">Requeriminetos de Maquinaria/Hequipo<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></a></li>
												</ul>
											</div>
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Agregados Externos <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
												    <li>
												    	<a href="{% url 'seguimiento:requerimientopersonal' item.id %}">
												    		Mano de Hobra<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true">
												    	</a>
												    </li>
												    <li>
												    	<a href="{% url 'seguimiento:listareqpersonal' item.id %}">
												    		Lista requerimiento mano de hobra<span class="glyphicon glyphicon glyphicon-plus">
												    	</a> 
												    </li>
												    <li class="divider"></li>
												    <li>
												    	<a href="{% url 'seguimiento:requerimientoMaHe' item.id %}">
												    		Contrato de Maquinaria/Hequipo<span class="glyphicon glyphicon glyphicon-plus">
												    	</a> 
												    </li>
												    <li>
												    	<a href="{% url 'seguimiento:listarequerimientomahe' item.id %}">
												    		Lsita de contrato de Maquinaria/Hequipo<span class="glyphicon glyphicon glyphicon-plus">
												    	</a> 
												    </li>
												    <li class="divider"></li>
												    <li>
												    	<a href="{% url 'seguimiento:requerimientomatlo' item.id %}">
												    		Materiales Locales<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true">
												    	</a>
												    </li>
												    <li>
												    	<a href="{% url 'seguimiento:listaRequerimientomalo' item.id %}">
												    		Lista de materiales locales<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true">
												    	</a>
												    </li>
												</ul>
											</div>
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Informes <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li>
														<a type="button" href="{% url 'seguimiento:crearinforme' item.id %}">
														    Crear informe<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true">
														</a>
													</li>
													<li>
														<a type="button" href="{% url 'seguimiento:listainformes' item.id %}">
														    Lista de informes<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true">
														</a>
													</li>
												</ul>
											</div>
														
										</div>
				  					</td>
					  			</tr>

				  		{% endfor %}

					{% endif %}

				  	</tbody>
				  	
				</table>
				<!-- paginador -->
				<div class="row row-centered">
				<div class="col-xs-3 col-centered"></div>
				<div class="col-xs-6 col-centered">
					{% if is_paginated %}
						<div class="text-center">
						<ul class="pagination">
						{% if page_obj.has_previous %}
								    <li>
								        <span><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></span>
								    </li>
						{% endif %}
								    <li class="">
								        <span>Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
								    </li>
						{% if page_obj.has_next %}
								    <li>
								        <span><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></span>
								    </li>
						{% endif %}
						</ul>
						</div>
					{% else %}
						<!--
						<h3>Your File Exam</h3>
						<p>File not yet available</p>
						-->
					{% endif %}
				</div>
				<div class="col-xs-3 col-centered"></div>
				</div>
				<!-- paginador -->
			</div>
		</div>
		<div class="col-sm-1"></div>
	{% endblock body %}